@import "tailwindcss";

/* global.css or inside <style scoped> */
@keyframes spinClockwise {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spinClockwise 12s linear infinite;
}